<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/defaults.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/login.css" %}">
</head>

<body>

<div class="login-page">
  <div class="login-box">
    <form class="login-form" action="{% url 'BPSApp:homepage' %}" method="post">
      {% csrf_token %}
      <p class="login-box-text">Log In</p>
      <input class="input-field" type="text" placeholder="email"/>
      <input class="input-field" type="password" placeholder="password"/>
      <button class="login-button">LOGIN</button>
    </form>
  </div>
</div>

</body>
</html>