.header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #00a3cc;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: #00a3cc;
}
.intersect {
    position: absolute;
    background-color: #007a99;
    height: 60px;
    width: 60px;
}