.header{
    position: fixed;
    top: 0px;
    height: 60px;
    width: 85%;
    background-color: #00A3CC;
    text-align: center;
}
.header-title{
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    font-weight: 500;
    color: white;
}
