<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>

  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/Reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/Defaults.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/Homepage.css" %}">
</head>

<body>

<div class="header">
  <p class="header-title">EntwinerBPS</p>
</div>

<div class="sidebar">
  <div class="intersect"></div>
  <div class="sidebar-item">
    <p class="sidebar-item-title">Customers</p>
  </div>
  <div class="sidebar-item">
    <p class="sidebar-item-title">Orders</p>
  </div>
</div>

<div class="tab-bar">
    <p class="tab-item">Basic Info</p><!--
    --><p class="tab-item">Address</p><!--
    --><p class="tab-item">Contacts</p><!--
    --><p class="tab-item">Billing</p><!--
    --><p class="tab-item">Notes</p>
  </div>
</div>

<div class="basic-info-page">
  <p class="content-header">New Customer – Basic Info</p>
  <div class="form-content">
    <div class="whole-line-field">
      <p class="input-label">Customer Name:</p>
      <input class="input-field" type="text">
    </div>
    <div class="whole-line-field">
      <p class="input-label">Customer Email:</p>
      <input class="input-field" type="text">
    </div>
    <div class="whole-line-field">
      <p class="input-label">Customer Phone:</p>
      <input class="input-field" type="text">
    </div>
  </div>
</div>

<div class="address-page">
</div>

<div class="contacts-page">
</div>

<div class="billing-page">
</div>

<div class="notes-page">
</div>

<script type="text/javascript" src="{%  static "BPSApp/JS/tabs.js" %}"></script>
</body>
</html>