<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/Reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/Defaults.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/Homepage.css" %}">
</head>

<body>

<div class="header">
  <p class="header-title">EntwinerBPS</p>
</div>
<div class="sidebar">
  <div class="intersect"></div>
  <div class="sidebar-item">
    <p class="sidebar-item-title">Customers</p>
  </div>
  <div class="sidebar-item">
    <p class="sidebar-item-title">Orders</p>
  </div>
</div>

</body>
</html>