<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/reset.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/defaults.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "BPSApp/CSS/homepage.css" %}">
</head>

<body>

<div class="header">
  <p class="header-title">EntwinerBPS</p>
</div>

<div class="sidebar">
  <div class="intersect"></div>
  <p class="sidebar-item-title">Customers</p>
  <p class="sidebar-item-title">Orders</p>
</div>

<div class="options-bar">
  <button class="add-customer-button">Add Customer</button>
  <div class="search-customer-wrapper">
    <p class="search-customer-label">Search Customer:</p><!--
  --><input class="search-customer-box">
  </div>
</div>

<div class="tab-display">
  <p class="tab-item">Basic Info</p><!--
  --><p class="tab-item">Address</p><!--
  --><p class="tab-item">Contacts</p><!--
  --><p class="tab-item">Billing</p><!--
  --><p class="tab-item">Notes</p>

  <div class="basic-info-page">
    <p class="content-header">New Customer – Basic Info</p>
    <div class="form-content">
      <div class="whole-line-field">
        <p class="input-label">Customer Name:</p>
        <input class="input-field" type="text">
      </div>
      <div class="whole-line-field">
        <p class="input-label">Customer Email:</p>
        <input class="input-field" type="text">
      </div>
      <div class="whole-line-field">
        <p class="input-label">Customer Phone:</p>
        <input class="input-field" type="text">
      </div>
    </div>
  </div>

  <div class="address-page">
    <p class="content-header">New Customer – Address</p>
  </div>

  <div class="contacts-page">
    <p class="content-header">New Customer – Contacts</p>
  </div>

  <div class="billing-page">
    <p class="content-header">New Customer – Billing</p>
  </div>

  <div class="notes-page">
    <p class="content-header">New Customer – Notes</p>
  </div>
</div>

<script type="text/javascript" src="{%  static "BPSApp/JS/tabs.js" %}"></script>

</body>
</html>