<div class="basic-info-page">
  <p class="content-header">Basic Info</p>
  <div class="form-content">
    <div class="whole-line-field">
      <p class="input-label">Customer Name:</p>
      <input class="input-field" type="text">
    </div>
    <div class="whole-line-field">
      <p class="input-label">Customer Email:</p>
      <input class="input-field" type="text">
    </div>
    <div class="whole-line-field">
      <p class="input-label">Customer Phone:</p>
      <input class="input-field" type="text">
    </div>
  </div>
</div>