<div class="options-bar">
  <button class="add-customer-button">Add Customer</button>
  <p class="current-record-search-name-label">Currently showing record for:</p><!--
  --><p class="current-record-search-name"></p>
  <button class="cancel-button">Cancel</button>
  <p class="search-customer-label">Search Customer:</p>

  <div class="search-customer-field-wrapper">
    <input class="search-customer-field">
    <div class="search-suggestions">
      <p class="search-suggestion-item">This is item 1</p>
      <p class="search-suggestion-item">This is item 2</p>
      <p class="search-suggestion-item">This is item 3</p>
      <p class="search-suggestion-item">This is item 4</p>
      <p class="search-suggestion-item">This is item 5</p>
      <p class="search-suggestion-item">This is item 6</p>
      <p class="search-suggestion-item">This is item 7</p>
      <p class="search-suggestion-item">This is item 8</p>
      <p class="search-suggestion-item">This is item 9</p>
      <p class="search-suggestion-item">This is item 10</p>
      <p class="search-suggestion-item">This is item 11</p>
      <p class="search-suggestion-item">This is item 12</p>
      <p class="search-suggestion-item">This is item 13</p>
      <p class="search-suggestion-item">This is item 14</p>
      <p class="search-suggestion-item">This is item 15</p>
    </div>
  </div>

</div>